//- include main layout template
extends layout.pug

//- make page title dynamic
block variables
  - var title = `Portfolio Site - Oops we had a glitch`
  
block content 
  article.grid-container.portfolio-intro
    div

      //- display main page title
      h1.homeTitle My Portfolio

      //- display sub-header title
      p.lead.text-light
        | What I learned in the last 5 months
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      //- main body section
      h1 Ooops we can't find that page, 
      
      //- add a link to go back to the home page
      a.hollow.button(href=`/`) click here to go to the home page
      
      //- display the error message
      h2.error= message
      
      //- display http status
      h3= error.status

      //- display the error stack
      pre #{error.stack}
      
