<!DOCTYPE html>
html(class="no-js" lang="en" dir="ltr")
  block variables
  head
    - var title = title || "Portfolio Site"
    title #{title}
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/foundation.css')
    link(rel='stylesheet', href='/static/css/style.css')
  body(style="background-color: #C8E6C9;")
    #my-info.off-canvas.position-left.reveal-for-large.portfolio-me(data-off-canvas='', style="background-color: #2E7D32;")
      .grid-y.grid-padding-x(style='height: 100%;')
        block sidebar
          br
          .cell.shrink
            a(href="/about")
              img.thumbnail.circle(src='/static/images/profile/profile-pic.png')
          .cell.auto

            //- Add your name here.
            h5 Fidel Habtezion

            //- Add text here to describe who you are, what you do, and why you are so awesome.
            p(style="color: #FFFF00 !important;")
              | Description

            //- Add about page route to the href below. 
            a(style="color: #18FFFF !important;" href='/about') Learn More →

    .off-canvas-content(data-off-canvas-content='')
      .title-bar.hide-for-large
        .title-bar-left
          button.menu-icon(type='button', data-toggle='my-info')

          //- Add your name here.  This is for the mobile screen sized version.
          span.title-bar-title Fidel Habtezion
      block content
        

      
  script(src='/static/js/vendor/jquery.js')
  script(src='/static/js/vendor/what-input.js')
  script(src='/static/js/vendor/foundation.js')
  script(src='/static/js/scripts.js')
